extends layout

block content
  h1= title
    nav Välkommen till ett Soloäventyr 
    nav2 Pojken som åt ikapp med Trollet

  p= story.body

  ul
    each link in links
      li
       a.btn.btn-primary(href= link.target_id)=link.description  
        
    