extends layout

block content
  h1= title
    nav Välkomen till Soloäventyr 
    nav2 Pojken som åt ikap med trollen


  p= story.body

  ul
    each link in links
      li
       a.btn.btn-primary(href= link.target_id)=link.description  
        
    